<a href="https://colab.research.google.com/github/ddannybb25/Test/blob/main/n232a_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# üìù Assignment
---
# Data Wrangling

### 1) Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏôÄ Îû≠Í∏ÄÎßÅ ÌïòÏÑ∏Ïöî.
- Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Îû≠Í∏ÄÎßÅÌïòÏó¨ Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ ÏúÑÌïú ÌÖåÏù¥Î∏î ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î°ú ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- **(Urclass Quiz) Îã§Ïùå Ìï®ÏàòÏùò resultÎ•º ÏôÑÏÑ±ÏãúÌÇ§Í≥† Î¶¨ÌÑ¥Í∞íÏùÑ Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [1]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
df['Gender']

Purchase ID
0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object

In [3]:
df.query('Age==20').groupby(df['Gender']).get_group('Male')

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
16,Lisirra25,20,Male,40,Second Chance,2.52
20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
...,...,...,...,...,...,...
742,Isty55,20,Male,5,Putrid Fan,4.08
748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
749,Chanossanya44,20,Male,53,Vengeance Cleaver,2.05
756,Ilast79,20,Male,73,Ritual Mace,2.05
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46

In [4]:
df.query('Age==20').groupby(df['Gender']).get_group('Male').Price.sum()

260.2

In [5]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## Îã§Ïùå result Ìï®Ïàò ÏïàÏóê male, female Î≥ÄÏàòÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.(groupby, get_groupÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.)
## sum_male: Age = 20, Gender = "Male" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.
## sum_female: Age = 20, Gender = "Female" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.

def result(df):

    sum_male = df.query('Age==20').groupby(df['Gender']).get_group('Male').Price.sum()
    sum_female = df.query('Age==20').groupby(df['Gender']).get_group('Female').Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

### 2) ÏÉàÎ°ú ÌäπÏßïÎì§ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- **(Urclass Quiz) purchase_dataÎ•º Îû≠Í∏ÄÎßÅÌïòÏó¨ Îã§Ïùå Ï°∞Í±¥ÏùÑ Í≥ÑÏÇ∞ÌïòÍ≥† Í≤∞Í≥ºÍ∞Ä Ïò¨Î∞îÎ•∏ Ìï≠Î™©ÏùÑ Í≥†Î•¥ÏÑ∏Ïöî.**
    1. ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† PriceÎäî 3.101818Ïù¥Îã§.
    2. ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† PriceÎäî 3.021559Ïù¥Îã§.
    3. Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî 178 Ïù¥Îã§.
    4. ÎëêÎ≤àÏß∏Î°ú Îß§Ï∂úÏùÑ ÎßéÏù¥ ÎÇ∏ ÏïÑÏù¥ÌÖú IDÎäî 145Ïù¥Îã§.

In [6]:
df

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,101,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [40]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
#1Î≤à ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† PriceÎäî 3.101818Ïù¥Îã§.
df.query('Age<=20').Price.mean()

3.101818181818182

In [44]:
#2Î≤à ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† PriceÎäî 3.021559Ïù¥Îã§.
df.query('21<=Age<=50').Price.mean() #Îì±Ìò∏ÏûòÎÑ£Í∏∞(Ìè¨Ìï®,ÏïàÌè¨Ìï®)

3.0215587044534415

In [11]:
#3Î≤à Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî 178 Ïù¥Îã§. ÎßûÏùå 
df['Item ID'].value_counts()

178    12
108     9
82      9
145     9
19      8
       ..
91      1
27      1
42      1
23      1
180     1
Name: Item ID, Length: 183, dtype: int64

In [57]:
df['Item ID'].value_counts().index[0]

178

In [53]:
# 4Î≤à ÎëêÎ≤àÏß∏Î°ú Îß§Ï∂úÏùÑ ÎßéÏù¥ ÎÇ∏ ÏïÑÏù¥ÌÖú IDÎäî 145Ïù¥Îã§. 82Ïù¥Îã§.

df.groupby('Item ID')['Price'].sum().sort_values(ascending=False)

Item ID
178    50.76
82     44.10
145    41.22
92     39.04
103    34.80
       ...
125     2.00
126     2.00
23      1.99
104     1.93
42      1.75
Name: Price, Length: 183, dtype: float64

In [56]:
df.groupby('Item ID')['Price'].sum().sort_values(ascending=False).index[1]

82

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú(Github - Discussion)
> n231aÏóê Ïù¥Ïñ¥ Ïó¨Îü¨Î∂ÑÏùò ÌîÑÎ°úÏ†ùÌä∏ Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©Ìï¥ ÎèÑÏ†ÑÍ≥ºÏ†úÎ•º ÏàòÌñâÌï©ÎãàÎã§.

### 1) Ïó¨Îü¨Î∂ÑÏùò ÌîÑÎ°úÏ†ùÌä∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Îû≠Í∏ÄÎßÅÌïòÏó¨ Î™®Îç∏ÎßÅ ÌïòÍ∏∞ Ï†ÅÌï©Ìïú ÌòïÌÉúÎ°ú ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###